//- TODO: work on form for creating
extends ../components/layout
block content
  - let i = 412;
  form(class="ms-5 mb-5")
    div(class="mb-3 row")
    label(for="staticID" class="col-sm-2 col-form-label") ID
    div(class="col-sm-10")
      input(type="text" readonly class="form-control-plaintext" id="staticID" value=`${i}`)

    div(class="mb-3 row")
    label(for="First_Name" class="col-sm-2 col-form-label") First Name
    div(class="col-sm-10")
      input(type="text" class="form-control" id="First_Name")

    div(class="mb-3 row")
    label(for="Last_Name" class="col-sm-2 col-form-label") Last Name
    div(class="col-sm-10")
      input(type="text" class="form-control" id="Last_Name")

    div(class="mb-3 row")
    label(for="House_Num" class="col-sm-2 col-form-label") House Number
    div(class="col-sm-10")
      input(type="text" class="form-control" id="House_Num")

    div(class="mb-3 row")
    label(for="Street" class="col-sm-2 col-form-label") Street
    div(class="col-sm-10")
        select(class="form-select" aria-label="street name")
            option(selected) Select Street
            option(value="1") Barbwood
            option(value="2") Beachwood
            option(value="3") Bobbwood
            option(value="4") Cherry Garden
            option(value="5") Deerwood
            option(value="6") Driftwood
            option(value="7") E. Commerce
            option(value="8") Gulfwood
            option(value="9") Inverrary
            option(value="10") Lakes Edge
            option(value="11") Leafwood
            option(value="12") Leafwood Ct
            option(value="13") Ledgewood
            option(value="14") Ledgewood E
            option(value="15") Ledgewood W
            option(value="16") Oakwood
            option(value="17") Pikewood
            option(value="18") Raftwood
            option(value="19") Ravinewood
            option(value="20") Ravinewood Ct
            option(value="21") Sandbar
            option(value="22") Sleeth
            option(value="23") Starwood
            option(value="24") Stumpwood
            option(value="25") Surfwood
            option(value="26") Tamwood
            option(value="27") Tiquewood
            option(value="28") Trentwood
            option(value="29") Triwood
            option(value="30") Wavewood
            option(value="31") Windwood
            option(value="32") Winewood

    div(class="mb-3 row")
    label(for="On_Off_Water" class="col-sm-2 col-form-label") On/Off Water
    div(class="col-sm-10")
        select(class="form-select" aria-label="On_Off_Water")
            option(selected) Select On/Off
            option(value="1") On
            option(value="2") Off

    div(class="mb-3 row")
    label(for="A_lot" class="col-sm-2 col-form-label") A-Lot
    div(class="col-sm-10")
        select(class="form-select" aria-label="A_Lot")
            option(selected) Select A-Lot
            option(value="1") X
            option(value="2") *

    div(class="mb-3 row")
    label(for="Area" class="col-sm-2 col-form-label") Area
    div(class="col-sm-10")
        select(class="form-select" aria-label="Area")
            option(selected) Select Area
            option(value="1") 1
            option(value="2") 2
            option(value="3") 3
            option(value="4") 4
            option(value="5") 5
            option(value="6") 6
            option(value="7") 7
            option(value="8") 8
            option(value="9") 9
            option(value="10") 10
            option(value="11") 11
    div(class="mb-3 row")
    label(for="Card_Number" class="col-sm-2 col-form-label") Card Number
    div(class="col-sm-10")
      input(type="text" class="form-control" id="Card_Number")

    div(class="mb-3 row")
    label(for="Card_Enabled" class="col-sm-2 col-form-label") Card Enabled
    div(class="col-sm-10")
      select(class="form-select" aria-label="Card_Enabled")
            option(selected) Select Yes/No
            option(value="1") Yes
            option(value="2") No

    div(class="mb-3 row")
    label(for="Paid_Dues" class="col-sm-2 col-form-label") Paid Dues
    div(class="col-sm-10")
      select(class="form-select" aria-label="Paid_Dues" id="owes_select")
        option(selected) Select Yes/No/Owes
        option(value="1") Yes
        option(value="2") No
        option(value="3") Owes
      input(type="text" class="form-control" id="owes")
    script.
      $("#owes").hide();
      $(document).ready(function() {
        let value = $("#owes_select").val();
        //- alert(value);
        if (value == 3) {
          alert(value);
        }
      })
      //- $(document).ready(function() {
      //-   $("#owes_select").on("click", function() {
      //-     //- $(this).hide();
      //-     let value = $(this).val();
      //-     if(value == 3) {
      //-       //- alert(value);
      //-       $("#owes").show();
      //-     }else {
      //-       $("owes").hide();
      //-     }
      //-   })
      //- });