mixin crud-btns()
    button(type="button" class="btn btn-success" class="me-3 mb-3" onclick="location.href='/boat_ramp/create'") Create
    button(type="button" class="btn btn-primary" class="me-3 mb-3" onclick="location.href='/boat_ramp/edit'") Update
    button(type="button" class="btn btn-danger" class="mb-3" onclick="location.href='/boat_ramp/delete'") Delete
