include ./auth-nav

mixin main-nav(activeRoute)
    nav(class="navbar navbar-expand-lg navbar-light  mb-5")
        div(class="container-fluid")
            a(class="navbar-brand" href="")
            div(class="navbar-nav ms-auto")
                    a(class="nav-link" href="/" aria-current="page") Home
            div(class="collapse navbar-collapse" id="navbar-bar")
                div(class="navbar-nav ms-auto")
                    div(class="dropdown me-3")
                        a(class="dropdown-toggle nav-link" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer") Databases
                            ul(class="dropdown-menu" aria-labelledby="dropdownMenu2")
                                li
                                    button(class="dropdown-item" type="button" onclick="location.href='/boat_ramp'") Boat Ramp Database
                    +auth-nav(isAuthenticated)
