include ./auth-nav

mixin main-nav(activeRoute)
    nav(class="navbar navbar-expand-lg navbar-light  mb-5")
        div(class="container-fluid")
            a(class="navbar-brand" href="")
            div(class="navbar-nav ms-auto")
                    a(class="nav-link" href="/" aria-current="page") Home
            button(class="navbar-toggler" type="butotn" ata-bs-toggle="collapse" data-bs-target="#navbar-bar"
                    aria-controls="navbar-bar" aria-expanded="false" aria-label="Toggle navigation")
                    span(class="avbar-toggler-icon")
            div(class="collapse navbar-collapse" id="navbar-bar")
                div(class="navbar-nav ms-auto")
                    a(class="nav-link" href="/boat_ramp") Boat Ramp Database
                    +auth-nav(isAuthenticated)
    