mixin table()
    table(class="table table-striped table-hover")
        thead
            tr(class='text-center')
                th(scope="col") ID
                th(scope="col") Name
                th(scope="col") Address
                th(scope="col") Actions
                //- th(scope="col") On/Off Water
                //- th(scope="col") A-lot
                //- th(scope="col") Area
                //- th(scope="col") Card Number
                //- th(scope="col") Card Enabled
                //- th(scope="col") Paid Dues
                //- th(scope="col") Agreement
                //- th(scope="col") Registration
                //- th(scope="col") Watercraft 1
                //- th(scope="col") MC 1 #
                //- th(scope="col") Color 1
                //- th(scope="col") Watercraft 2
                //- th(scope="col") MC 2 #
                //- th(scope="col") Watercraft 3
                //- th(scope="col") MC 3 #
                //- th(scope="col") Color 3
                //- th(scope="col") Watercraft 4
                //- th(scope="col") MC 4 #
                //- th(scope="col") Color 4
                //- th(scope="col") Watercraft 5
                //- th(scope="col") MC 5 #
                //- th(scope="col") Color 5
            tbody(id="myTable")
                each boatRampData in data
                    tr(class='text-center')
                        td= boatRampData.ID
                        td= boatRampData.First_Name + " " + boatRampData.Last_Name
                        //- td= boatRampData.Last_Name
                        td= boatRampData.House_Num + " " + boatRampData.Street
                        //- td= boatRampData.Street
                        //- td= boatRampData.On_Off_Water
                        //- td= boatRampData.A_lot
                        //- td= boatRampData.Area
                        //- td= boatRampData.Card_Number
                        //- td= boatRampData.Card_Enabled
                        //- td= boatRampData.Paid_Dues
                        //- td= boatRampData.Agreement
                        //- td= boatRampData.Registration
                        //- td= boatRampData.Watercraft_1
                        //- td= boatRampData.MC_1_Num
                        //- td= boatRampData.Color_1
                        //- td= boatRampData.Watercraft_2
                        //- td= boatRampData.MC_2_Num
                        //- td= boatRampData.Color_2
                        //- td= boatRampData.Watercraft_3
                        //- td= boatRampData.MC_3_Num
                        //- td= boatRampData.Color_3
                        //- td= boatRampData.Watercraft_4
                        //- td= boatRampData.MC_4_Num
                        //- td= boatRampData.Color_4
                        //- td= boatRampData.Watercraft_5
                        //- td= boatRampData.MC_5_Num
                        //- td= boatRampData.Color_5