mixin table()
    table(class="table table-striped")
        thead
            tr(class='text-center')
                th(scope="col") ID
                th(scope="col") First Name
                th(scope="col") Last Name
                th(scope="col") E-mail
                th(scope="col") Address
            tbody
                each resident in data
                    tr(class='text-center')
                        //- -var i = 0;
                        // TODO: Add unique ID
                        td unique ID
                        td= resident.fName
                        td= resident.lName
                        td= resident.email
                        td= resident.address